<h1>Full Menu</h1>

<%= link_to 'New item',  new_menuitem_path %>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th colspan="2" >Options</th>
  </tr>

    <% @menuitems.each do |menuitem| %>
    <tr>
    <td><%= menuitem.name %></td>
    <td><%= menuitem.description %></td>
    <td><%= menuitem.price %></td>
    <td><%= link_to 'Show', menuitem_path(menuitem) %></td>
    <td><%= link_to 'Edit', edit_menuitem_path(menuitem) %></td>
    </tr>
    <% end %>
</table>
