<p>
  <strong>Name:</strong>
  <%= @menuitem.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menuitem.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menuitem.price %>
</p>

<%= link_to 'Edit', edit_menuitem_path %>
<%= link_to 'Back', menuitems_path %>
